body {
  background: blue;
  margin: 0;
  font: 18px Helvetica;
  text-align: center;
}

#title_bar {
  background: black;
  color: white;
  height: 25px;
  padding: 10px 5%;
  width: 90%;
}

/**
 * @blackberry
 *
 * On the BlackBerry, all buttons should be an achor tag <a href="#">...</a>
 * You will want to do this so that the cursor renders correctly and
 * (optionally) focused based navigation will highlight the links.
 *
 * In order to mimic the behaviour of a <div>, we display the buttons as a block
 * and remove text-decoration that would be introduced by the anchor.
 *
 * An alternative would be to set the `cursor:pointer;`
 */
.app_button {
  background: gold;
  border: khaki;
  display: block;        /* @blackberry minic <div> display type */
  margin: 15px auto;
  padding: 5px;
  width: 200px;
  text-decoration: none; /* @blackberry remove anchor styling (underline) */
  -webkit-border-radius: 5px;
}

#back_button {
  background: grey;
}

/**
 * @blackberry
 *
 * For cross-platform compatability, the view containers should use percentage dimensions.
 * This produces a liquid-layout that is flexible to the device's screen dimensions.
 **/
 
.view {
	width: 100%;    /* @blackberry */
	height: 100%;   /* @blackberry */
	
	/*  only one view is displayed at a time
	    so we'll set the views to default to be un-displayed
	    and then override this based on the element id */
	display: none;
}
/* our three views */
#welcome {
  display: block;  
}
#settings {
  background: white;
}
#map {
  background: black;
  color: white;
}

.map_image {
  margin: auto;
  height: 250px;
  padding-top: 35px;
  width: 250px;
}

#settings_form {
  display: block;
  padding: 20px;
}

button {
  font: 18px Helvetica;
  height: 30px;
  width: 100px;
  -webkit-appearance:push-button;
}
